# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @Luismy @dclayton77 @PBarnard @radicalgeek @SahanRodrigo @john-neoterictech @meyumeapps @mogusbi-motech @nroper @richmilton @neilD2 @Iheff @UntappedSolutions @VassilAtanasov @garywoodfine @simon-technocloud @brassknocker @kgadhia84 @spricesoft-samuel
